{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}
{% block main %}
    <p>Welcome to lifting buddy, a web app designed to aid those who weight train with features including a 1 rep-max calculator, bar loading calculator, and progress tracker! <br>Please login to enter sets and view progress.</p>
    <h>Acknowledgements</h>
    <p>David Malan and the rest of the teaching staff at CS50 for their knowledge and guidance, and for the base structure of this website.
    Stackoverflow and the countless users whose helpful answers have helped guide this project
    GitHub for freely hosting this website</p>
    <p>Languages used: Python (Flask, Jinja2), JavaScript, HTML, CSS, SQL</p>




{% endblock %}
